<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MedSearch</display-name>
  <welcome-file-list>
  	<welcome-file>home.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <env-entry> 
    <env-entry-name>host_db</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>localhost:3306</env-entry-value> 
  </env-entry> 
  <env-entry> 
    <env-entry-name>name_db</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Spider</env-entry-value> 
  </env-entry>
  <env-entry> 
    <env-entry-name>user_db</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>root</env-entry-value> 
  </env-entry>
  <env-entry> 
    <env-entry-name>pass_db</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>password</env-entry-value> 
  </env-entry>
  
  
</web-app>